* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.details-per-country {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.details-per-country h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 5px 10px;
  background-color: #01838F;
  color: #FFF;
  border-radius: 5px;
}

.details-per-country .info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 800px;
  gap: 20px;  // Espacement entre les éléments
  margin-bottom: 20px;
}

.details-per-country .info p {
  font-size: 18px;
  padding: 10px 15px;
  border: 3px solid #01838F;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column; // Organisation en colonne pour centrer
}

.details-per-country .chart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.details-per-country .btn {
  background-color: #01838F;
  padding: 10px;
  color: #FFF;
  font-size: 18px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
  &:active {
    transform: translate(1px, 1px);
    box-shadow: lightgray 0 0 5px;
  }
}
